<link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira Code" rel="stylesheet">
<style>
  * {
    color: white;
    font-family: "Open Sans";
  }
  #page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  header {
    padding: 0 16px;
    background: #404040;
  }
  #body {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
  }
  aside {
    width: 300px;
    padding: 8px;
    overflow-y: auto;
    background: #303030;
  }
  main {
    flex-grow: 1;
    padding: 0 16px;
    overflow-y: auto;
    background: #202020;
  }
  pre {
    border-radius: 8px;
    padding: 8px;
    width: 920px;
    background-color: #101010;
  }
  code {
    font-family: "Fira Code";
  }
</style>